<div style="text-align:center">
  <h1>
    SandBrix Electrical Appliance
  </h1>
</div> 
<p>SandBrix Electrical Appliance is an Indian online appliance delivery service, started as a joint venture between SandBrix Retail and Cloud Platforms.SandBrix delivers appliance and hardware from nearby stores. The platform was soft-launched in December 2019.</p>

<!-- Implement code here for routerLink -->
<a routerLink="/product">Click  To Add Product</a>
<!-- Implement code here for router-outlet -->
<router-outlet></router-outlet>