<body>
    <!-- Implement Your Code Here -->
    <h2>WeHost</h2>
    <div *ngIf="showLoginForm">
        New to WeHost?<a id="signup" name="signup" (click)="toggleForm()">Sign Up</a>
        <form>
            <input type="text" id="userName" name="userName" placeholder="User Name">
            <input type="text" id="password" name="password" ngModel placeholder="Password">
            <button>Login</button>
        </form>
    </div>
    
    <div *ngIf="!showLoginForm">
        <form>
            <input type="text" id="emailId" name="emailId" placeholder="Email Id">
            <input type="text" id="contact" name="contact" placeholder="Contact Number">
            <input type="text" id="name" name="name" placeholder="User Name">
            <input type="password" id="pass" name="pass" placeholder="Password">
            <button id="sign" name="sign">SignUp</button>
        </form>
    </div>
</body>